
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row main">
          <div class="col-md-12">
            <a href="/" id="home" class="btn btn-default glyphicon glyphicon-home"></a>
            <h1>Hair Salon</h1>
          </div>
        </div>
      </header>
      @RenderBody()
    </div>
  </body>
</html>