@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <a href="/stylist/add" class="btn btn-default">Add A Stylist</a>
    </div>

    <div class="col-md-6">
        <a href="/stylists" class="btn btn-default">View All Stylists</a>
    </div>
</div>

