@{
    Layout = "_Layout";
}


<h2 class="headline">Update Stylist</h2>

<form class="form-group" action="/stylist/@Model.GetId()/update" method="post">
    <label for="stylist-name">Name:</label>
    <input type="text" name="stylist-name" class="form-control">

    <button type="submit" class="btn btn-default">Submit</button>
</form>
