@{
    Layout = "_Layout";
}


<h2 class="headline">New Stylist</h2>

<form action="/stylists" method="post" class="form-group">
    <label for="stylist-name">Name:</label>
    <input type="text" name="stylist-name" class="form-control">

    <button type="submit" class="btn btn-default">Submit</button>
</form>
