@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <h2>@Model["stylist"].GetName()</h2>
        <h3>Current Clients</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if(@Model["clients"].Count == 0)
        {
            <p> @Model["stylist"].GetName() currently has no clients. Click on the button below to add a client!</p>
        }
    </div>
    <div class="col-md-12">
        <ul class="list-group">
            @foreach (var client in @Model["clients"])
            {
                <a class="contact-list list-group-item" href="#">@client.GetName()
                    <li>
                        <form action='/stylist/@Model["stylist"].GetId()/client/@client.GetId()/remove'>
                            <button class="btn btn-danger btn-xs remove glyphicon glyphicon-remove" type="submit"></button>
                        </form>
                        <form action='/stylist/@Model["stylist"].GetId()/client/@client.GetId()/update'>
                            <button class="btn btn-default btn-xs update glyphicon glyphicon-pencil" type="submit"></button>
                        </form>
                    </li>
                </a>
            }
         </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href='/stylist/@Model["stylist"].GetId()/client/add'>Add a client</a>
    </div>
</div>